# 🌍 GLOBAL CONFIG
PORT=8000
JWT_SECRET=supersecret_change_me_in_production

# 🗄️ DATABASE CONFIG (PostgreSQL)
# Format: postgresql://[user]:[password]@[host]:[port]/[database]
DATABASE_URL=postgresql://admin:password@localhost:5432/foodflow_db
AUTH_DB_URL=postgresql://admin:password@localhost:5432/auth_db
ORDER_DB_URL=postgresql://admin:password@localhost:5432/order_db
RESTAURANT_DB_URL=postgresql://admin:password@localhost:5432/restaurant_db
DELIVERY_DB_URL=postgresql://admin:password@localhost:5432/delivery_db
OPS_DB_URL=postgresql://admin:password@localhost:5432/ops_db

# 🐇 MESSAGING CONFIG (RabbitMQ)
RABBITMQ_URL=amqp://guest:guest@localhost:5672

# 🔌 MICROSERVICES INTERNAL URLS (For Gateway)
AUTH_SERVICE_URL=http://localhost:3001
ORDER_SERVICE_URL=http://localhost:3002
RESTAURANT_SERVICE_URL=http://localhost:3003
DELIVERY_SERVICE_URL=http://localhost:3004
OPS_SERVICE_URL=http://localhost:3005

# 💻 FRONTEND CONFIG (Vite)
# Note: These must be prefixed with VITE_ to be accessible in React
VITE_GATEWAY_URL=http://localhost:8000
VITE_SOCKET_URL=http://localhost:3005
